<div id="content">
    <div class="show-room content-width">
      <h2 class="show-room__user">#<%= @user.name %>さんのページ</h2>

      <h3 class="show-room__title"><%= @room.title %></h3>

      <div class="show-room__img cover-slide inview">
        <%# <img src="images/IMG_7139.png" alt="" class="img-zoom inview"> %>
        <%= image_tag @room.image, class: "img-zoom inview" %>
      </div>

      <div class="show-room__about">
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">部屋の場所</th>
              <td class="detail-value"><%= @room.place.name %></td>
            </tr>

            <tr>
              <th class="detail-item">部屋の間取り</th>
              <td class="detail-value"><%= @room.floor.name %></td>
            </tr>

            <tr>
              <th class="detail-item">ライフスタイル</th>
              <td class="detail-value"><%= @room.style.name %></td>
            </tr>

          </tbody>
        </table>
      </div>

      <% if user_signed_in? %>
        <div class="show-room__btn">
          <!-- 本人かそれ以外で切り替え -->
          <% if current_user.id == @room.user_id %>
            <div class="edit-link">
                <%= link_to '模様替え', edit_room_path(@room.id), class: "edit-link__btn" %>
            </div>

            <div class="destroy-link">
                <%= link_to '部屋を削除する', room_path(@room.id), method: :delete, class: "destroy-link__btn" %>
            </div>

            <%# <div class="like-link">
                <button class="like-link__btn">お気に入りする<i class="far fa-heart 3x"></i></button>
            </div> %>
          <% end %>
          <!-- 切り替え終わり -->
        </div>
      <% end %>

      <div class="show-room__content">
        <h4 class="content-title">#<%= @user.name %>さんのお部屋のこだわり</h3>
        <div class="content-box">
          <p class="content-box__text">
            <%= @room.content %>
          </p>
        </div>
      </div>

        <% if user_signed_in? %>
          <% if current_user.id == @room.user_id %>
            <div id="rooms-content">
              <h2 class="rooms-content__title pb-lg">#お気に入りしている部屋</h2>
              <% if @like_rooms.present? %>
                <div class="rooms-items">
                  <% @like_rooms.each do |like| %>
                    <div class="rooms-item__card">
                      <%= link_to room_path(like.room.id), class: "link-cover" do %>
                        <h4 class="rooms-item__card__title"><%= like.room.title %></h4>
                        <p class="rooms-item__card__user"><%= like.room.user.name %></p>
                          <div class="rooms-item__img">
                            <%= image_tag like.room.image %>
                          </div>
                        <div class="room-item__tag">
                          <% like.room.tags.each do |tag| %>
                            <a href="#" class="room-tag">
                                #<%= tag.name %>
                            </a>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <h3 class="no-content">まだお気に入りしていません</h2>
                <%= link_to '探しに行く', root_path, class: "to-top" %>
              <% end %>
            </div>
          <% end%>
        <% end %>

    </div>
</div>