<div id="content">
    <div class="show-room content-width">
      <h2 class="show-room__user">#<%= @room.user.name %>のお部屋</h2>

      <h3 class="show-room__title"><%= @room.title %></h3>

      <div class="show-room__img cover-slide inview">
        <%= image_tag @room.image, class: "img-zoom inview" %>
      </div>

      <div class="show-room__about">
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">部屋の場所</th>
              <td class="detail-value"><%= @room.place.name %></td>
            </tr>

            <tr>
              <th class="detail-item">部屋の間取り</th>
              <td class="detail-value"><%= @room.floor.name %></td>
            </tr>

            <tr>
              <th class="detail-item">ライフスタイル</th>
              <td class="detail-value"><%= @room.style.name %></td>
            </tr>

          </tbody>
        </table>
      </div>

      <% if user_signed_in? %>
        <div class="show-room__btn">
          <!-- 本人かそれ以外で切り替え -->
          <% if current_user.id == @room.user_id %>
            <div class="edit-link">
                <%= link_to '模様替え', edit_room_path(@room.id), class: "edit-link__btn" %>
            </div>

            <div class="destroy-link">
                <%= link_to '部屋を削除する', room_path(@room.id), method: :delete, class: "destroy-link__btn" %>
            </div>
          <% else %>
            <div id="likes_buttons_<%= @room.id %>">
              <%= render partial: 'likes/like', locals: { room: @room} %>
            </div>
          <% end %>
          <!-- 切り替え終わり -->
        </div>
      <% end %>

      <div class="show-room__content">
        <h4 class="content-title">#シャレゾウさんのお部屋のこだわり</h3>
        <div class="content-box">
          <p class="content-box__text">
            <%= @room.content%>
          </p>
        </div>
      </div>

      <%# ↓↓↓コメント機能 %>

      <div class="comment-table">
        <h4 class="comment-table__title">#寄せられているコメント</h4>
        <% @comments.each do |comment| %>
          <div class="comment-table__list">
              <div class="commetn-content">
                <%= comment.text %>
              </div>
            <%= link_to "by#{comment.user.name}", user_path(comment.user_id), class: "comment-user" %>
          </div>
        <% end %>

      </div>

      <%# コメントフォーム %>
      <div class="comment-form content-width">
        <% if user_signed_in? %>
          <div class="comment-form__label">
            <label for="#">#コメントする</label>
          </div>
          <div class="comment-form__input">
            <%= form_with(model: [@room, @comment], local: true) do |f|%>
              <%= f.text_field :text, class: "comment-form-content", placeholder: "例)いい部屋ですね！" %>
              <%= f.submit "送信", class: "comment-form-btn" %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
</div>
