<!DOCTYPE html>
<html>
<head>
    <title>RoomApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
    <div id="global-container">
        <div id="container">
            <div class="mobile-menu__cover"></div>
            <header class="header">
                <div class="header-left">
                    <%= link_to 'TrendyEstate', root_path, class: "room-app" %>
                </div>
                <div class="header-right">
                    <button class="mobile-menu__btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>    
            </header>

            <%= yield %>

            <footer class="footer">
                <div class="footer__copyright">
                    &copy; 2021 Ryosuke Kubota
                </div>
            </footer>
        </div>
        <nav class="mobile-menu">
            <ul class="mobile-menu__main">
            <% if user_signed_in? %>
                <li class="mobile-menu__item">
                    <%= link_to "#{current_user.name}さんの部屋", user_path(current_user.id), class: "mobile-menu__link" %>
                </li>

                <li class="mobile-menu__item">
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "mobile-menu__link" %>
                </li>

                <% unless Room.exists?(user_id: current_user.id)%>
                    <li class="mobile-menu__item">
                        <%= link_to 'お部屋を投稿する', new_room_path, class: "mobile-menu__link" %>
                    </li>
                <% end%>

            <% else %>
                <li class="mobile-menu__item">
                    <%= link_to '新規登録', new_user_registration_path, class: "mobile-menu__link" %>
                </li>

                <li class="mobile-menu__item">
                    <%= link_to 'ログイン', new_user_session_path, class: "mobile-menu__link" %>
                </li>
            <% end %>

                <li class="mobile-menu__item">
                    <%= link_to 'TrendyEstateについて', abouts_path, class: "mobile-menu__link" %>
                </li>
            </ul>
        </nav>

    
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>
